<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Course info</title>
</head>

<body>
<div th:insert="templates/fragments :: navbar"></div>
<br>

<table class="table-size table table-bordered  ">
    <thead class="thead-light ">
    <tr>
        <th class="text-to-center" scope="col" colspan="2">Course card</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ID</td>
        <th scope="row" th:text="${courseNumber.id}"></th>
    </tr>
    <tr>
        <td>Name</td>
        <th th:text="${courseNumber.name}"></th>
    </tr>
    </tbody>
</table>

<div class="edit-del-container">
    <a class="btn btn-secondary edit-del-btn" th:href="@{/courseNumbers/update/{id}(id = ${courseNumber.id})}">Edit</a>

    <form action="#" th:action="@{/courseNumbers/{id}(id = ${courseNumber.id})}" method="post">
        <input type="hidden">
        <input type="submit" class="edit-del-btn btn btn-secondary " value="Delete"/>
    </form>
</div>

<div th:insert="templates/fragments :: js"></div>
</body>
</html>
