<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Get all by Group with Debt</title>
</head>

<body>
<div th:insert="templates/fragments :: navbar"></div>
<br>

<div class="jumbotron">
    <h1 class="display-4">Get all by group with debt</h1>
    <p class="lead">To get the list of students, insert parameters "groupId" and "debt" in the address bar of your
        browser.</p>
    <hr class="my-4">
    <p>
    <div class="alert alert-success" role="alert">
        Example:
    <a th:href="@{/students/byGroupWithDebt/group/1/debt/35}" class="alert-link">/students/byGroupWithDebt/group/1/debt/35</a>
    </div>
    </p>

</div>


<div th:insert="templates/fragments :: js"></div>
</body>
</html>