<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Get all by Floor</title>
</head>

<body>
<div th:insert="templates/fragments :: navbar"></div>
<br>

<div class="container">
    <h5>Chose floor:</h5>

    <div th:each="floor : ${floors}" class="list-group">
        <a class="list-group-item list-group-item-action"
           th:href="@{/students/byFloor/{floorId}(floorId=${floor.id})}"
           th:text="${floor.name}"></a>
    </div>
</div>


<div th:insert="templates/fragments :: js"></div>
</body>
</html>