<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:insert="templates/fragments :: style"></div>

    <title>Find ALL</title>
</head>
<body>
<div th:insert="templates/fragments :: navbar"></div>


<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <th scope="row" th:text="${student.id}"></th>
        <td th:text="${student.firstName}">name</td>
        <td th:text="${student.lastName}">name</td>
        <td><a th:href="@{getById(id=${student.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>

<div th:insert="templates/fragments :: js"></div>
</body>
</html>