<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Students by faculty</title>
</head>

<body>
<div th:insert="templates/fragments :: navbar"></div>
<br>

<div class="container">
    <h5>Choose faculty:</h5>

    <div th:each="faculty : ${faculties}" class="list-group">
        <a class="list-group-item list-group-item-action"
           th:href="@{/students/byFaculty/{facultyId}(facultyId=${faculty.id})}"
           th:text="${faculty.name}"></a>
    </div>
</div>

<div th:insert="templates/fragments :: js"></div>
</body>
</html>