<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Student info</title>
</head>
<body>

<div th:insert="templates/fragments :: navbar"></div>
<br>

<style>
    .table-size {
        width: 400px;
        margin-left: 400px;
    }
    .text-to-center {
        text-align: center;
    }
</style>

<table class="table table-bordered table-size" >
    <thead class="thead-light">
    <tr>
        <th scope="col" colspan="2" class="text-to-center">Student card</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>ID</td>
        <th scope="row" th:text="${studentDTO.id}"></th>
    </tr>
    <tr>
        <td>First name</td>
        <th th:text="${studentDTO.firstName}"></th>
    </tr>
    <tr>
        <td>Last name</td>
        <th th:text="${studentDTO.lastName}"></th>
    </tr>
    <tr>
        <td>Hours debt</td>
        <th th:text="${studentDTO.hoursDebt}"></th>
    </tr>
    <tr>
        <td>Group name</td>
        <th>
            <a th:href="@{/groups/{id}(id=${studentDTO.groupDTO.id})}" style="color: lightslategrey"
               th:text="${studentDTO.groupDTO.name}"></a>
        </th>
    </tr>
    <tr>
        <td>Room name</td>
        <th>
            <a th:href="@{/rooms/{id}(id=${studentDTO.roomDTO.id})}" style="color: lightslategrey"
               th:text="${studentDTO.roomDTO.name}"></a>
        </th>
    </tr>
    <tr>
        <td>Active tasks</td>
        <th>
            <a th:href="@{/tasks/byStudent/{studentId}(studentId=${studentDTO.id})}" style="color: lightslategrey"
               th:text="${studentDTO.tasks.size()}"></a>
        </th>
    </tr>
    <tr>
        <td>Active equipments</td>
        <th>
            <a th:href="@{/equipments/byStudent/{studentId}(studentId=${studentDTO.id})}"
               style="color: lightslategrey" th:text="${studentDTO.equipments.size()}"></a>
        </th>
    </tr>
    </tbody>
</table>


<div th:insert="templates/fragments :: js"></div>
</body>
</html>