<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:fragment="style">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
    </div>

</head>
<body>

<!--НАВБАР С ВЫПАДАЮЩИМ МЕНЮ-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li>
                <a class="navbar-brand"th:href="@{/home}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                    Student Hostel
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/courseNumbers/getAll}">Courses</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:href="@{/faculties/getAll}">Faculties</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:href="@{/groups/getAll}">Groups</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:href="@{/floors/getAll}">Floors</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:href="@{/tasks/getAll}">Tasks</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:href="@{/equipments/getAll}">Equipment</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rooms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/rooms/getAll} ">All</a>
                    <a class="dropdown-item"th:href="@{/rooms/getAllByEquipment} "}>By Equipment</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Students
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/students/getAll}">All</a>
                    <a class="dropdown-item" th:href="@{/students/getAllByFaculty}">By Faculty</a>
                    <a class="dropdown-item" th:href="@{/students/getAllByCourse}">By Course</a>
                    <a class="dropdown-item" th:href="@{/students/getAllByFloor}">By Floor</a>
                    <a class="dropdown-item"th:href="@{/students/getAllByGroupWithDebtExample}">By Group with debt</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="js">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</div>
</body>
</html>