<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Rooms by equipment</title>
</head>

<body>
<div th:insert="templates/fragments :: navbar"></div>
<br>

<div class="container">
    <h5>Chose equipment:</h5>
    <div th:each="equipment : ${equipments}" class="list-group">
        <a th:href="@{/rooms/byEquipment/{equipmentId}(equipmentId=${equipment.id})}"
           class="list-group-item list-group-item-action"
           th:text="${equipment.name}"></a>
    </div>
</div>


<div th:insert="templates/fragments :: js"></div>
</body>
</html>