
.table-size {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.add-new-button {
    margin-top: 5px;
    margin-left: 5px;
}
.edit-del-btn{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 100px;
    max-width: 100px;
}

.edit-del-container {
    display: flex;
    justify-content: center;
}

.to-right {
    float: right;
    min-width: 60px;
    max-width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.form-size {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.text-to-center {
    text-align: center;
}