<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Error page</title>
</head>

<body>
<div th:insert="templates/fragments :: navbar"></div>
<br>
<br>
<div class="alert alert-success form-size" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p th:text="${message}"></p>
    <hr>
    <p th:text="${id}" class="mb-0" ></p>
</div>

<div th:insert="templates/fragments :: js"></div>
</body>
</html>
