<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Equipment adding</title>
</head>
<body>
<div th:insert="templates/fragments :: navbar"></div>

<form th:action="@{/equipments/insert}" th:object="${equipment}" method="post" class="form-size">

    <h2 align="center" >Adding a new equipment</h2>
    <div class="form-group">
        <label for="exampleFormControlInput1">Equipment name</label>
        <input type="text" th:field="*{name}"
               id="exampleFormControlInput1"
               class="form-control" placeholder="Name">
    </div>
    <input type="submit" class="btn btn-info" value="Submit"/>
</form>

<div th:insert="templates/fragments :: js"></div>
</body>
</html>
