<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="US-ASCII">
    <title>Student</title>
</head>
<body>
name : <p th:text="${name}" style="color : mediumblue "/>
lastname : <p th:text="${lastname}" style="color : mediumblue "/>
hours : <p th:text="${hours}"style="color : mediumblue "/>
studentid : <p th:text="${studentid}"style="color : mediumblue "/>
roomname : <p th:text="${roomname}"style="color : mediumblue "/>
roomid : <p th:text="${roomid}"style="color : mediumblue "/>
floorname : <p th:text="${floorname}"style="color : mediumblue "/>
floorid : <p th:text="${floorid}"style="color : mediumblue "/>
groupname : <p th:text="${groupname}"style="color : mediumblue "/>
groupid : <p th:text="${groupid}"style="color : mediumblue "/>
facultyname: <p th:text="${facultyname}"style="color : mediumblue "/>
facultyid: <p th:text="${facultyid}"style="color : mediumblue "/>
coursenumbername: <p th:text="${coursenumbername}"style="color : mediumblue "/>
coursenumberid: <p th:text="${coursenumberid}"style="color : mediumblue "/>

</body>
</html>