<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="templates/fragments :: style"></div>
    <title>Room adding</title>
</head>
<body>
<div th:insert="templates/fragments :: navbar" ></div>

<form action="#" th:action="@{/rooms/insert}" th:object="${room}" method="post" class="form-size">

    <h2 align="center" >Adding a new room</h2>
    <div class="form-group">
        <label for="exampleFormControlInput1">Room name</label>
        <input type="text" th:field="*{name}"
               id="exampleFormControlInput1"
               class="form-control" placeholder="AB-1234">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput2">Floor id</label>
        <input type="number" th:field="*{floorId}"
               id="exampleFormControlInput2"
               class="form-control" placeholder="1">
    </div>
    <input type="submit" class="btn btn-info" value="Submit"/>
</form>

<div th:insert="templates/fragments :: js"></div>
</body>
</html>
